/* 
    Document   : style
    Created on : 18 août 2013, 15:05:48
    Author     : Saturne
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.event {
    background-color: rgb(250, 167, 50);
    padding: 10px;
    margin: 5px;
    border-radius: 7px;
    border: solid 1px;
}

